/* index */

#login-form {
	display: flex;
	flex-direction: column;
	position: absolute;
	height: 50%;
	width: 100%;
	align-items: center;
}
	
#version {
	position:absolute;
	top:100vh;
	transform:translateY(-100%);
	width:100%;
}

/* staff-homepage */
.page-header {
	display: flex;
	justify-content: flex-end;
}

#person-pic {
	/* border: double; */
	border: 1px solid black;
	margin-left: 1%;
}

#person-info {
	padding-top: 2%;
}

#page-logo {
	margin-right: auto;
}

.main-content {
	display: flex;
}

.menu-settings {
	display: flex;
	width: fit-content;
	flex-direction: column;
	height: 70vh;
	padding-right: 1%;
	border-right: 1px solid #eee;
}

.case-information {
	margin-left: 1%;
	padding-top: 1%;
	width: 100%;
}

.personal-info {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	padding: 2%;
	border-bottom: 1px solid #eee;
}

.status-information {
	padding: 2%;
	border-bottom: 1px solid #eee;
}

/* Start of table */

.container {
	width: 70%;
	margin: 0 auto;
}

table {
	border-collapse: collapse;
	width: 100%;
}

#myTable {
	margin-top: 30px;
}
  
th, td {
	border: 1px solid black;
	padding: 8px;
	text-align: left;
}

.header-input {
	width: 100%;
	box-sizing: border-box;
	font-weight: bold;
	border: none;
	outline: none;
	text-transform: uppercase;
	text-align: center;
}

.editable-cell {
	background-color: #f2f2f2;
	outline: none
}

/* End of table */

.history {
	padding: 2%
}

.form-container {
	display: flex;
	flex-direction: row;
	background-color: #f2f2f2;
	border: 1px solid black;
	width: 100%;
	padding: 1%;
	justify-content: space-evenly;
}

#drpdwn-form, #notes-form {
	width: 40%;
}

.icon-container {
	display: flex;
	width: 20vw;
	margin-left: 5%;
}

.exists-cntnr {
	margin-right: 30%;
}

#file-input {
	display: none;
}

/* Admin */

.main-body {
	width: 79vw;
	right: 2px;
	position: absolute;
	top: 175px;
	height: 73vh;
}

/* Start of table */

.table-container {
	width: 90%;
	margin: 0 auto;
	border: 1px solid black;
}

table {
	border-collapse: collapse;
	width: 100%;
}
  
td {
	border: 1px solid black;
	padding: 8px;
	text-align: left;
}

th {
 	border: 1px solid black;
	padding: 8px;
	text-align: center;
}

/* End of table */

.sort-container {
	margin-top: 1%;
	width: 90%;
	display: flex;
	justify-content: flex-end;
}

#exampleFormControlSelect1 {
	width: 14%;
}

.selection-container {
	display: flex;
	justify-content: space-around;
}

.diag-drpdwn, .month-drpdwn {
	display: flex;
}

#calendar {
	height: 100%;
}

.first-row-fields {
	display: flex;
}

.second-row-fields {
	display: flex;
	margin-top: 1%;
}

.field-labels {
	margin-right: 1%;
	margin-left: 1%;
}

.main-bottom {
	display: flex;
	justify-content: space-around;
}

/* Bootstrap */
#form-outline-id {
	margin-bottom: 25%;
}

#admin-search-div {
	margin-top: auto;
}