/* index */

#login-form {
	display: flex;
	flex-direction: column;
	position: absolute;
	height: 50%;
	width: 100%;
	align-items: center;
}
	
#version {
	position:absolute;
	top:100vh;
	transform:translateY(-100%);
	width:100%;
}

/* staff-homepage */
.page-header {
	display: flex;
	justify-content: flex-end;
}

#person-pic {
	/* border: double; */
	border: 1px solid black;
	margin-left: 1%;
}

#person-info {
	padding-top: 2%;
}

#page-logo {
	margin-right: auto;
}

.menu-settings {
	display: flex;
}

.case-information {
	margin-left: 1%;
	padding-top: 11%;
}

/* Bootstrap */
#form-outline-id {
	margin-bottom: 25%;
}